
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gazette</title>
</head>
<body>
  

<h1>{{title}}</h1>
<ul>
{% for race in races %}
		<li>{{race.numero}}: {{race.title | upcase}}</li>
{% endfor %}
</ul>
</body>
</html>